.about-cont{
    background: whitesmoke;
}
.about-img{
    box-shadow: 2px 2px 1px 3px #ccc;
}
.g-20{
    gap: 20px;
}
@media screen and (max-width:600px) {
    .about-img-cont{
        display: none;
    }
    .about-desc{
        text-align: center;
    }
}