.nav-cont{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}
.navbar{
    background: #fff !important;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.8);
} 
  .visible {
    transform: translateY(0);
  }
  
  .hidden {
    transform: translateY(-100%);
  }