.privacy-head{
    padding: 40px;
    background: #1D2D3D;
    color: white;
}
.privacy-btn{
    background: #333;
    color: white;
}
.privacy-btn:hover{
cursor: pointer;
color: white;
background: #333;
}